.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #333;
}
.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container-f{
    margin-left: 10%;
    margin-right: 10%;
    
    
}

footer{
    color: white;
    text-align: center;
    background-color: #333;
    padding: 1%;
}